<div id="listar-modelos-aeronaves">
  <div id="add-aircraft">
    <a mat-raised-button color="primary" routerLink="/aircraft-model/register">Add new aircraft model</a>
  </div>

  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Aircraft model list</mat-card-title>
        <mat-card-subtitle>Double-click the row to edit the record.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <table mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
          </ng-container>

          <ng-container matColumnDef="alternativeCode">
            <th mat-header-cell *matHeaderCellDef> Alternative Code </th>
            <td mat-cell *matCellDef="let row"> {{row.alternativeCode}} </td>
          </ng-container>
    
          <ng-container matColumnDef="maxDepartureWeight">
            <th mat-header-cell *matHeaderCellDef> Max Departure Weight </th>
            <td mat-cell *matCellDef="let row"> {{row.maxDepartureWeight}} </td>
          </ng-container>
    
          <ng-container matColumnDef="maxLandingWeight">
            <th mat-header-cell *matHeaderCellDef> Max Landing Weight </th>
            <td mat-cell *matCellDef="let row"> {{row.maxLandingWeight}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (dblclick)="edit(row)" (touchend)="edit(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
      </mat-card-content>      
    </mat-card>
  </div>
</div>