#import-export {
  .btn-group {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

#listar-aeronaves {
  margin-bottom: 50px;
}

@media screen and (max-width: 360px) {
  #listar-aeronaves {
    margin-bottom: 25px;
  }
}
