<div id="import-export">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Import/Export</mat-card-title>
      <mat-card-subtitle>Import txt file and export xlsx file.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>    
      <div class="btn-group">
        <button name="btnInput" mat-raised-button color="primary" (click)="fileInput.click()">Import file</button>
        <input name="fileInput" hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      </div>
      <div class="btn-group">
        <button name="btnExport" mat-raised-button color="primary" (click)="export()">Export to Excel</button>
      </div>
    </mat-card-content>  
  </mat-card>
</div>



<div id="listar-aeronaves">
  <app-listar-aeronaves></app-listar-aeronaves>
</div>

<app-listar-modelos-aeronaves></app-listar-modelos-aeronaves>