#cadastro-aeronave {
  width: calc(100vw - 40px);
  margin: auto;
  padding-top: 20px;

  #model-prefix,
  #departure-landing {
    margin-left: 10px;
  }

  #prefix,
  #alternative-code,
  #departure,
  #landing {
    width: 50%;
    display: inline-block;
    vertical-align: middle;

    mat-form-field {
      width: calc(100% - 10px);
      margin: 0 auto;
    }
  }

  .btn-actions {
    margin-bottom: 10px;

    #btn-salvar {
      float: right;
    }
  }
}

@media screen and (max-width: 360px) {
  #cadastro-aeronave {
    width: calc(100vw - 20px);
    padding-top: 10px;

    #prefix,
    #alternative-code,
    #departure,
    #landing {
      width: 100%;

      mat-form-field {
        width: calc(100% - 10px);
        margin: 0 auto;
      }
    }
  }
}
